@import "./header";
@import "./image";
@import "./modal";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 15, 15);
    color: rgb(207, 207, 10);
}

.body.hidden {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}


